# Host path to ROS 2 packages (bind-mounted at /workspace/src)
ROS2_PACKAGES_HOST_PATH=../ros2-packages

DRONE_ID=1
SIM_NETWORK_NAME=aas-sim-network-inst0
FUSION_HOST_IP=10.42.90.200

NVIDIA_VISIBLE_DEVICES=all
NVIDIA_DRIVER_CAPABILITIES=compute,utility